<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet"  href="css/app.css">
</head>
<body>
<form>
<div class="row">
  <div class="col-xs-2 col-md-4"></div>
  <div class="col-xs-8 col-md-6"><h1 class="iciciheading">ICICI Money Planner</h1></div>
  <div class="col-xs-2 col-md-4"></div>
</div>
<div class="form-group">
<div class="row">
 <div class="col-xs-2 col-md-4"></div>
  <div class="col-xs-8 col-md-6"> <label class="sr-only" for="customerid">Customer ID</label>
    <input type="email" class="form-control" id="customer id" placeholder="Customer Id"></h1></div>
  <div class="col-xs-2 col-md-4"></div>
</div>
<div class="row p-t-2">
 <div class="col-xs-2 col-md-4"></div>
  <div class="col-xs-8 col-md-6"> <label class="sr-only" for="accountnumber">AccountNumber</label>
    <input type="email" class="form-control" id="accountnumber" placeholder="Enter Your Account Number"></h1></div>
  <div class="col-xs-2 col-md-4"></div>
</div>
<div class="row p-t-2">
 <div class="col-xs-2 col-md-4"></div>
 <div class"col-xs-8 col-md-6"><button type="submit" class="btn btn-primary">Submit</button></div>
<div class="col-xs-2 col-md-4"></div>
</div>
</div> 
</form>
</body>
</html>